[package]
name = "kurobako"
version = "0.0.8"
authors = ["Takeru Ohta <phjgt308@gmail.com>"]
edition = "2018"
description = "A black-box optimization benchmarking framework"
homepage = "https://github.com/sile/kurobako"
repository = "https://github.com/sile/kurobako"
readme = "README.md"
license = "MIT"

[badges]
travis-ci = {repository = "sile/kurobako"}
codecov = {repository = "sile/kurobako"}

[dependencies]
chrono = { version = "0.4", features = ["serde"] }
kurobako_core = { path = "kurobako_core", version = "0.0" }
kurobako_problems = { path = "kurobako_problems", version = "0.0" }
rand = "0.6"
serde = "1"
serde_derive = "1"
serde_json = "1"
structopt = "0.2"
tempfile = "3"
trackable = "0.2"
yamakan = "0.0"

[workspace]
members = ["kurobako_core", "kurobako_problems"]
